[submodule "third_party/cadvisor"]
	path = third_party/cadvisor
	url = git@github.com:PreritO/cadvisor.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "testing/ConfigureDeploymentLimits"]
	path = testing/ConfigureDeploymentLimits
	url = git@github.com:gregcusack/ConfigureDeploymentLimits.git
[submodule "EC-Agent"]
	path = EC-Agent
	url = git@github.com:Maziyar-Na/EC-Agent.git
	branch = master
[submodule "third_party/apps/microservices-demo"]
	path = third_party/apps/microservices-demo
	url = git@github.com:gregcusack/microservices-demo.git
	branch = main
[submodule "third_party/apps/train-ticket"]
	path = third_party/apps/train-ticket
	url = git@github.com:gregcusack/train-ticket.git
	branch = main
[submodule "third_party/apps/TeaStore"]
	path = third_party/apps/TeaStore
	url = git@github.com:gregcusack/TeaStore.git
	branch = main
[submodule "third_party/apps/go-microservices"]
	path = third_party/apps/go-microservices
	url = git@github.com:gregcusack/go-micro-services.git
