[submodule "ec_gcm"]
	path = ec_gcm
	url = git@github.com:gregcusack/ec_gcm.git
[submodule "ec_deployer"]
	path = ec_deployer
	url = git@github.com:gregcusack/ec_deployer.git
[submodule "EC-Agent"]
	path = EC-Agent
	url = git@github.com:Maziyar-Na/EC-Agent.git
[submodule "EC-4.20.16"]
	path = EC-4.20.16
	url = git@github.com:gregcusack/EC-4.20.16.git
[submodule "third_party/cadvisor"]
	path = third_party/cadvisor
	url = git@github.com:PreritO/cadvisor.git
[submodule "third_party/DeathStarBench"]
	path = third_party/DeathStarBench
	url = git@github.com:gregcusack/DeathStarBench.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
